* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* nav area start */

.nav {
  background-color: #11172b;
  width: 100%;
}

.logo {
  width: 640px;
  padding: 12px 0;
}

.logo img {
  height: 24px;
  margin-right: 15px;
}

.logo h1 {
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  font-family: titillium Web;
}

.logo span {
  font-weight: 300;
}

/* nav area end */

/* main area start */
.main {
  width: 640px;
}

.fairway {
  margin: 40px 0 20px;
  border-radius: 8px;
  background-color: #ebeff8;
  padding: 24px 32px;
}

.departure {
  color: #b3bdd5;
  font-size: 16px;
}

.departure img {
  height: 12px;
  margin-right: 10px;
}

.departure p {
  display: inline-block;
}

.enDep p {
  font-size: 32px;
  font-family: Titillium Web;
  color: #000000;
  margin-top: 8px;
}

.date {
  background-color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 24px;
}

.date p {
  font-size: 16px;
  color: #000000;
}

.description p {
  font-size: 12px;
  color: #b3bdd5;
  margin-top: 16px;
}

/* main area end */

.borderDotted {
  border: 1px dotted #b6bfb3;
  width: 640px;
}

/* ticket area start */
.ticketArea {
  margin-top: 20px;
  width: 640px;
  background-color: #ffffff;
  border-radius: 8px;
  
  padding: 8px 0 24px;
}

.ticketArea:last-child {
  margin-bottom: 20px;
}

.ticketArea div p {
  padding-left: 24px;
}

.ticketArea div {
  padding-right: 24px;
}

.ticketArea div a {
  margin-left: 24px;
}

.ticketArea div a:first-child {
  margin-left: 0;
}

.ticketName P {
  font-size: 12px;
  font-weight: 700;
  font-family: Titillium Web;
  color: #16bf97;
  margin-bottom: 8px;
}

.borderSolid {
  border: 1px solid #dbf1ec;
  margin-bottom: 26px;
}

.startEnd {
  font-size: 12px;
  font-weight: 500;
  color: #b3bdd5;
  margin-bottom: 4px;
}

.hourInfo {
  font-size: 16px;
  font-weight: 700;
  color: #1a345e;
  margin-bottom: 4px;
}

.hourInfo span {
  width: 18px;
  margin: 0 10px;
}

.flightInfo {
  font-size: 12px;
  font-weight: 500;
  color: #b3bdd5;
  margin-bottom: 4px;
}

.flightNum {
  font-size: 16px;
  color: #0b1f66;  
  margin-bottom: 4px;
}

.reservation {
  text-align: right;
}

.reservation a {
  font-size: 14px;
  font-weight: 500;
  color: #1a345e;
}

.reservation .soldOut {
  color: #dce0e8;
}

/* ticket area end */
